.container {
    text-align: center;
    padding: 20px;
  }
  
  .heyqueen {
    width: 100%;
    height: auto;
    
  }
  
  .sigma {
    font-size: 2rem;
  }
  
  hr {
    width: 50%;
    margin: 20px auto;
  }
  